extends layout

block content
  h2(class="section-title") Clientes API Routes
  ul(class="routes")
    li 
      a(href="/clientes") GET /clientes
    li GET clientes/cliente/:id
    li POST clientes/cliente
    li PUT clientes/cliente/:id
    li DELETE clientes/cliente/:id

  h2(class="section-title") Instalaciones API Routes
  ul(class="routes")
    li 
      a(href="/instalaciones") GET /instalaciones
    li GET /instalaciones/instalacion/:id
    li POST /instalaciones/instalacion
    li PUT /instalaciones/instalacion/:id
    li DELETE /instalaciones/instalacion/:id

  h2(class="section-title") Productos API Routes
  ul(class="routes")
    li 
      a(href="/productos") GET /productos
    li GET /productos/producto/:id
    li POST /productos/producto
    li PUT /productos/producto/:id
    li DELETE /productos/producto/:id

    h2(class="section-title") Usuarios API Routes
  ul(class="routes")
    li 
      a(href="/usuarios") GET /usuarios
    li GET /usuarios/usuario/:id
    li POST /usuarios/usuario
    li PUT /usuarios/usuario/:id
    li DELETE /usuarios/usuario/:id
